kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: leader-locking-{{ provisioner_name }}
  namespace: {{ namespace }}
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]

