kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
  name: {{ storageclass.name }}
provisioner: {{ storageclass.provisioner }}
parameters:
  mountOptions: {{ storageclass.mountOptions }}

